<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Entry | Replit.sh</title>
</head>
<body>
<form class="form-horizontal" action="/new" method="post">
<fieldset>

<!-- Form Name -->
<legend>New Entry | Replit.sh</legend>
<p>Hey there {{ user_name }}, please enter the URL you would like to shorten below.</p>
<a href="/dash">View Your Dashboard</a>
{{ error|safe }}
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">URL ID</label>  
				<div class="col-md-4">
					<input name="id" id="id" value="{{ id }}"> 
				</div>
			</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="name">Link</label>  
	<div class="col-md-4">
	<input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required> 
	</div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <input type="submit" value="Submit">
  </div>
</div>
</fieldset>
</form>
</body>
</html>