<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Entry | Replit.sh</title>
</head>
<body>
<form class="form-horizontal" action="/" method="get">
<fieldset>
<legend>Shortened URL | Replit.sh</legend>
<p>Your new URL:<p>
<p><a href="{{ newUrl }}">{{ newUrl }}</a></p>
<div class="form-group">
	<label class="col-md-4 control-label" for="submit"></label>
	<div class="col-md-4">
		<input type="submit" value="Shorten another URL">
	</div>
</div>
</fieldset>
</form>
</body>
</html>