<html>
	<head>
		<meta http-equiv="refresh" content="5; URL={{ repl_url }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="{{ twitter_title }}" />
		<meta name="twitter:description" content="{{ twitter_desc }}" />
		<meta name="twitter:image" content="{{ image_url }}" />
		<meta property="og:url" content="{{ repl_url }}" />
		<meta property="og:title" content="{{ twitter_title }}" />
		<meta property="og:description" content="{{ twitter_desc }}" />
		<meta property="og:image" content="{{ image_url }}" />
	</head>
	<body>
		<img src="{{ img_url }}">
	</body>
</html>