<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Entry | {{ siteName }}</title>
</head>
<body>
<form class="form-horizontal" action="/newsocial" method="post">
<fieldset>

<!-- Form Name -->
<legend>New Entry | {{ siteName }}</legend>
<p>Hey there {{ user_name }}, please enter the URL you would like to shorten below.</p>
<p><a href="/">Make a Normal Short URL</a></p>
<p><a href="/custom">Make a Custom Short URL</a></p>
<p><a href="/dash">View Your Dashboard</a></p>
{{ error|safe }}
<div class="form-group">
	<label class="col-md-4 control-label" for="name">Repl Link</label>  
	<div class="col-md-4">
	<input type="url" name="url" id="url" placeholder="https://repl.it/@piemadd/Replitsh-v3" pattern="https://.*" size="30" required> 
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="name">Repl Talk Link</label>  
	<div class="col-md-4">
	<input type="url" name="talk" id="talk" placeholder="https://repl.it/talk/share/Replitsh-Replits-Official-URL-Shortener/79778" pattern="https://.*" size="30"> 
	</div>
</div>

<div class="form-group">
	<label class="col-md-4 control-label" for="name">Code Snippet (First 25 Lines)</label>  
	<div class="col-md-4">
	<textarea type="text" name="code" id="code" placeholder="print('UwU')" pattern="https://.*" size="30" required></textarea>
	</div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <input type="submit" value="Submit">
  </div>
</div>
</fieldset>
</form>
</body>
</html>